<div class="form-group">
  <label for="name" class="col-sm-2 control-label">Name</label>
  <div class="col-sm-3">
    <input type="text" ng-model="product.name" class="form-control" id="name" placeholder="Product Name Here" ng-readonly="isReadOnly"/>
  </div>
</div>
<div class="form-group">
  <label for="description" class="col-sm-2 control-label">Description</label>
  <div class="col-sm-3">
    <input type="text" ng-model="product.info" class="form-control" id="description" placeholder="Product Description goes here" ng-readonly="isReadOnly"/>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-3">
    <input type="submit" id="submit" class="btn btn-primary" value="{{actionScope}}"/>
    <input type="button" class="btn btn-info" ng-click="cancel()" value="Cancel"/>
  </div>
</div>
